.bg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

svg.bg {
	transform: translate(-50%, -50%) scale(2);
}

svg circle {
	fill: #111111;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width:0.907;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-opacity:1;
}

.graph-container > circle {
	transition: cx 0.4s, cy 0.4s;
}

.graph-container > line {
	transition: stroke 0.4s;
}

